body{
    background-color: silver;
}
   nav {
    background: #111;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }

  /* Hover color */
  nav a:hover {
    color: #00bcd4;
  }

  /* Underline animation */
  nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #00bcd4;
    transition: width 0.3 ease;
  }

  nav a:hover::after {
    width: 100%;
  }

button{
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: sticky;
    margin: 10px;
}
button:hover{
 background-color: black;
    color: goldenrod;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: sticky;
    margin: 10px;
}

/* 1. General styling for all images */
img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #333;
    display: block;
    position: relative;
}

    
.welcome{
    font-family: 'Arial', sans-serif;
    color: tomato;
    border: goldenrod 2px solid;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
}

.msgForImgShow{
    font-family: 'Arial', sans-serif;
    color: tomato;
    border: goldenrod 2px solid;
    padding: 10px 10px;
    border-radius: 10px;
}

